<!DOCTYPE html>
<html lang="en">

<head>
    <title>Big Shopy Admin</title>
  
  <link rel="icon" type="image/png" href="/images/faviconpng.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">

    <link href="css/admin.min.css" rel="stylesheet">

    <link href="css/adminstyle.css" rel="stylesheet">

</head>

<body>






    <!-- Header -->
    <div style=" height: 15vh;  display: flex;  align-items: center;">
        <a class="" href="/admin/home" style="margin:0% auto;">
            <img src="/images/logopng.png" alt="image" style="width: 168px; ">
        </a>

    </div>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">

                        <li class="nav-item">
                            <a class="nav-link " href="/admin/user">USERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/category">CATEGORIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/product">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/order">ORDERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/loadCoupon">COUPONS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/banner">BANNERS</a>
                        </li>



                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">

                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/home">Dashboard</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link" href="/admin/logout">Logout</a>
                        </li>

                    </ul>


                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->