<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div >
      <div style="text-align: center; background-color: white;">
        <center><lottie-player src="https://assets5.lottiefiles.com/packages/lf20_rz0hyab1.json"  background="transparent"  speed="0.5"  style="width: 500px; height: 500px;"  loop  autoplay></lottie-player></center>
        <p class="lead">Sorry, something went wrong.</p>
        <hr class="my-4">
        <p style="opacity: 80%;">Please try again later.</p>
        <a class="btn btn-info btn-lg" href="/home" role="button">Go Back</a>
      </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
